
@import url('https://fonts.googleapis.com/css?family=Averia+Libre|Comfortaa');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkviolet;
    background: radial-gradient(#0a0942 10%, #34045c 30%, #052375 35%, #07bb67 51%, #052375 70%, #4c1e96 80%, darkviolet 90%);
   
    
    z-index: 1;
}

@keyframes aurora {
    0% {background-size: 100% 220%}
    50% {background-size:  100% 160%}
    100% {background-size:  100% 220%}
    }

a {
    color: darkblue;
}

/* h2 {
    color: antiquewhite;
    font-family: 'Comfortaa', sans-serif;
    font-size: 3rem;
    margin: 1em;
} */

#hex-container {
    display: flex;
    justify-content: center;
    align-content: center;
    /* height: 80vh;
    width: 70vw; */
    padding: 25vw 60vw;
    border-radius: 50%;
    margin-top: 5vh;
    background: -moz-radial-gradient(center, ellipse cover, rgba(38,28,147,0) 8%, rgba(38,28,147,0.35) 53%, rgba(64,237,150,0.42) 58%, rgba(63,34,170,0.74) 61%, rgba(123,16,165,0.95) 76%, rgba(123,16,165,1) 20%); 
    background: -webkit-radial-gradient(center, ellipse cover, rgba(38,28,147,0) 28%,rgba(38,28,147,0.35) 53%,rgba(64,237,150,0.42) 58%,rgba(63,34,170,0.74) 81%,rgba(123,16,165,0.95) 96%,rgba(123,16,165,1) 100%); 
    background: radial-gradient(ellipse at center, rgba(38,28,147,0) 28%,rgba(38,28,147,0.35) 53%,rgba(64,237,150,0.42) 58%,rgba(63,34,170,0.74) 81%,rgba(123,16,165,0.95) 96%,rgba(123,16,165,1) 100%);
    z-index: 2;
    animation: aurora 10s linear infinite;
    }

#hex {
    width: 400px;
    border-radius: 50%;
    padding: 4rem;
    text-align: center;     
    color: #51d67d;
    font-family: 'Averia Libre', cursive;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    }

footer {
    color: antiquewhite;
    font-family: 'Comfortaa', sans-serif;
    font-size: 0.9rem;
    margin-top: 4em;
    padding: 1rem;
    text-align: center;
    line-height: 1.2rem;
}